<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Apollo.CA.DirectoryServices">
      <section name="LDAP.ConnectionAdam" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      <section name="LDAP.Connection" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>

  <Apollo.CA.DirectoryServices>
    <LDAP.Connection>
      <add key="ldap.host" value="ad.devapollogrp.edu" />
      <add key="ldap.port" value="389" />
      <add key="ldap.username" value="svc_captemp" />
      <add key="ldap.password" value="j2LKash5;#h" />
      <!--<add key="ldap.SearchBase" value="OU=Sites,DC=devapollogrp,DC=edu" />-->
      <add key="ldap.SearchBase" value= "OU=Sites,DC=devapollogrp,DC=edu" />
    </LDAP.Connection>
    <LDAP.ConnectionAdam>
      <add key="ldap.ldapHost" value="LDAP://ldap.devapollogrp.edu" />
      <add key="ldap.host" value="ldap.devapollogrp.edu" />
      <add key="ldap.username" value="svc_idmst_ldap" />
      <add key="ldap.password" value="Qas4Dez" />
      <add key="ldap.SearchBase" value="OU=Sites,DC=devapollogrp,DC=edu" />
      <add key="ldap.ldapbase" value="CN=Users,O=apollogroup,C=US" />
      <add key="ldap.port" value="389" />
    </LDAP.ConnectionAdam>
  </Apollo.CA.DirectoryServices>

  <appSettings>
    <add key="LDAPPassword" value="xxxPasswordxxx " />
    <add key="LDAPPath" value="LDAP://domain/DC=xxx,DC=com" />
    <add key="LDAPUser" value="xxxUserxxx " />
  </appSettings>

</configuration>