<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
	  <!--
	  <add name="Apollo.AIM.SNAP.Properties.Settings.Apollo_AIM_SNAPConnectionString" connectionString="Data Source=DWAXCAPB006;Initial Catalog=Apollo.AIM.SNAP;Integrated Security=True" providerName="System.Data.SqlClient" />
	  -->
  </connectionStrings>
</configuration>