<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Apollo.CA.DirectoryServices">
      <section name="LDAP.ConnectionAdam" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
      <section name="LDAP.Connection" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="Apollo.AIM.SNAP">
      <section name="Workflow.SLA" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.5000.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>

  </configSections>

  <Apollo.CA.DirectoryServices>
    <LDAP.Connection>
      <add key="ldap.host" value="ad.devapollogrp.edu" />
      <add key="ldap.port" value="389" />
      <add key="ldap.username" value="svc_captemp" />
      <add key="ldap.password" value="j2LKash5;#h" />
      <!-- <add key="ldap.SearchBase" value="OU=Sites,DC=devapollogrp,DC=edu" /> -->
      <add key="ldap.SearchBase" value= "DC=devapollogrp,DC=edu" />
    </LDAP.Connection>
    <LDAP.ConnectionAdam>
      <add key="ldap.ldapHost" value="LDAP://ldap.devapollogrp.edu" />
      <add key="ldap.host" value="ldap.devapollogrp.edu" />
      <add key="ldap.username" value="svc_idmst_ldap" />
      <add key="ldap.password" value="Qas4Dez" />
      <add key="ldap.SearchBase" value="OU=Sites,DC=devapollogrp,DC=edu" />

      <add key="ldap.ldapbase" value="CN=Users,O=apollogroup,C=US" />
      <add key="ldap.port" value="389" />
    </LDAP.ConnectionAdam>
  </Apollo.CA.DirectoryServices>

  <Apollo.AIM.SNAP>
    <Workflow.SLA>
      <add key="AccessTeamAckInMinute" value="15" />
      <add key="AccessTeamCreateWorkflowInDays" value="1" />
      <add key="ManagerApprovalInDays" value="1"/>
      <add key="TeamApprovalInDays" value="2" />
      <add key="TechnicalApprovalInDays" value="3" />
    </Workflow.SLA>
  </Apollo.AIM.SNAP>


  <connectionStrings>


    <add name="Apollo.AIM.SNAP.Properties.Settings.Apollo_AIM_SNAPConnectionString"
        connectionString="Data Source=DWXDSQLV023.devapollogrp.edu,8433;Initial Catalog=Apollo.AIM.SNAP;Persist Security Info=True;User ID=svc_snapdev;Password=p3hex80"
        providerName="System.Data.SqlClient" />

    
<!--
    <add name="Apollo.AIM.SNAP.Properties.Settings.Apollo_AIM_SNAPConnectionString"
        connectionString="Data Source=DWAXCAPB006.devapollogrp.edu;Initial Catalog=Apollo.AIM.SNAP;Persist Security Info=True;User ID=svc_snapdev;Password=welcome1"
        providerName="System.Data.SqlClient" />
-->
    
<!--    
    <add name="Apollo.AIM.SNAP.Properties.Settings.Apollo_AIM_SNAPConnectionString"
    connectionString="Data Source=DWADULDB001.DEVAPOLLOGRP.EDU;Initial Catalog=Apollo.AIM.SNAP;Persist Security Info=True;User ID=Snapper;Password=p3hex80"
    providerName="System.Data.SqlClient" />
    
-->    
  </connectionStrings>

  <appSettings>
      <!--/ Generic Email Information -->

      <!-- Email Templates -->
      <add key="Approval" value="D:\gitrepo\snap\trunk\src\lib\Apollo.AIM.SNAP\EmailTemplate\approval.html" />
      <add key="NagApproval" value="D:\gitrepo\snap\trunk\src\lib\Apollo.AIM.SNAP\EmailTemplate\nagApproval.html" />
      <add key="CompleteToSubmitter" value="D:\gitrepo\snap\trunk\src\lib\Apollo.AIM.SNAP\EmailTemplate\completeToSubmitter.html" /> 
      <add key="ConfirmSubmitToSubmitter" value="D:\gitrepo\snap\trunk\src\lib\Apollo.AIM.SNAP\EmailTemplate\confirmSubmitToSubmitter.html" />
      <add key="DenyToSubmitter" value="D:\gitrepo\snap\trunk\src\lib\Apollo.AIM.SNAP\EmailTemplate\denyToSubmitter.html" />
      <add key="RequestChangeToSubmitter" value="D:\gitrepo\snap\trunk\src\lib\Apollo.AIM.SNAP\EmailTemplate\RequestChangeToSubmitter.html" />
  </appSettings>

</configuration>