<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- DEV -->

    <add name="Apollo.AIM.SNAP.Properties.Settings.Apollo_AIM_SNAPConnectionString"
connectionString="Data Source=DWADULDB001.devapollogrp.edu;Initial Catalog=BPS_SupplementalAccess;Persist Security Info=True;User ID=svc_snap;Password=qPD9j4Mv"
providerName="System.Data.SqlClient" />

    
    <!-- DEV VM -->
    <!--
    <add name="Apollo.AIM.SNAP.Properties.Settings.Apollo_AIM_SNAPConnectionString"
		connectionString="Data Source=DWAXCAPB006.devapollogrp.edu;Initial Catalog=BPS_SupplementalAccess;Persist Security Info=True;User ID=svc_snap;Password=qPD9j4Mv"
		providerName="System.Data.SqlClient" />
    -->

    <!-- QA -->
    	  
    <!--
    <add name="Apollo.AIM.SNAP.Properties.Settings.Apollo_AIM_SNAPConnectionString"
		connectionString="Data Source=QWXDSQLV023.qaapollogrp.edu\V023;Initial Catalog=BPS_SupplementalAccess;Persist Security Info=True;User ID=svc_snap;Password=ix9FQ8u9"
		providerName="System.Data.SqlClient" />
    -->

    <!-- PROD -->
    <!--
    <add name="Apollo.AIM.SNAP.Properties.Settings.Apollo_AIM_SNAPConnectionString"
		connectionString="Data Source=XXX;Initial Catalog=BPS_SupplementalAccess;Persist Security Info=True;User ID=svc_snap;Password=UNuAJBd6"
		providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
</configuration>