USE [master]
GO
/****** Object:  Database [Apollo.AIM.SNAP]    Script Date: 04/01/2010 13:20:13 ******/
CREATE DATABASE [Apollo.AIM.SNAP] ON  PRIMARY 
( NAME = N'Apollo.AIM.SNAP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Apollo.AIM.SNAP.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Apollo.AIM.SNAP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Apollo.AIM.SNAP_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 COLLATE SQL_Latin1_General_CP1_CI_AS
GO
/****** CHANGE PASSWORD TO MATCH ENVIRONMENT ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'svc_snap')
CREATE LOGIN [svc_snap] WITH PASSWORD=N'qPD9j4Mv', DEFAULT_DATABASE=[Apollo.AIM.SNAP], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'Apollo.AIM.SNAP', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Apollo.AIM.SNAP].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO

USE [Apollo.AIM.SNAP]
GO
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'svc_snap')
CREATE USER [svc_snap] FOR LOGIN [svc_snap] WITH DEFAULT_SCHEMA=[dbo]
GO
EXEC sp_addrolemember db_datareader, [svc_snap]  
GO 
EXEC sp_addrolemember db_datawriter , [svc_snap]  
GO 

