.csm_template_1 .snap_brand_header {
	color: #fff;
	background: url('../images/tlrHEADER.jpg') top repeat-x;
	}

.csm_template_1 .snap_brand_footer {
	background: url('../images/tlrFOOTER3.png') top repeat-x;
	}

.csm_template_1 .logo_itservices {
	background: url('../images/logoITS.png') no-repeat;
	background-position: 83px 2px;
	height: 58px;
	}

.csm_template_1 .logo_oospa {
	background: url('../images/logoOUTTASCP.png')  no-repeat;
	background-position: 210px 28px;
	height: 58px;
	}
	
/* RIBBON */

div#csm_ribbon_container_outer {
	height: 36px;
	width: 763px;	
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	/*border: 1px dotted yellow;*/
	}
	
div#csm_ribbon_container_outer 
ul#csm_ribbon_container_inner {
	height: 36px;
	width: auto;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: relative;
	}
	
div#csm_ribbon_container_outer 
ul#csm_ribbon_container_inner li {
	margin: 0;
	padding: 0;
	list-style: none;
	/*position: absolute;*/
	float: left;
	top: 0;
	
	}
	
ul#csm_ribbon_container_inner li
, ul#csm_ribbon_container_inner a {
	height: 35px;
	display: block;
	}	
	
div#csm_ribbon_container_outer 
ul#csm_ribbon_container_inner li a {
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	}
	
/* LINK BUTTON DEFAULT SIZE */
	
#request_form_button a {width: 98px;}
#my_requests_button a {width: 90px;}
#my_approvals_button a {width: 134px;}
#access_team_button a {width: 129px;}
#search_button a {width: 47px;}
#support_button a {width: 56px;}

#request_form_button a
, #my_requests_button a
, #my_approvals_button a
, #access_team_button a
, #search_button a
, #support_button a {
	background: url('../images/linksShade3.png') no-repeat;
	padding: 0 17px 0 17px !important;}

#request_form_button a:hover {background-position: -34px -100px;}
#my_requests_button a:hover {background-position: -239px -100px;}
#my_approvals_button a:hover {background-position: -416px -100px;}
#access_team_button a:hover {background-position: -618px -100px;}
#search_button a:hover {background-position: -859px -100px;}
#support_button a:hover {background-position: -1055px -100px;}

/* YOU ARE HERE */

#request_form_button a {background-position: -34px 0px;}
#my_requests_button a {background-position: -239px 0px;}
#my_approvals_button a {background-position: -416px 0px;}
#access_team_button a {background-position: -618px 0px;}
#search_button a {background-position: -859px 0px;}
#support_button a {background-position: -1055px 0px;}

div.request_form #request_form_button a {background-position: -34px -50px;}
div.my_requests #my_requests_button a {background-position: -239px -50px;}
div.my_approvals #my_approvals_button a {background-position: -416px -50px;}
div.access_team #access_team_button a {background-position: -618px -50px;}
div.search #search_button a {background-position: -859px -50px;}
div.support #support_button a {background-position: -1055px -50px;}

	
