
.csm_container_100 {
	background: none;
	background-color: #fff;
	}

body {
	background: none;
	background-color: #851000;
	}

/* Floating Toggle */

.csm_toggle_show {
    background: url('../images/button_show_details_active.gif');
    background-repeat: no-repeat;
    cursor: pointer;
	}
.csm_toggle_hide {
    background: url('../images/button_hide_details_active.gif');
    background-repeat: no-repeat;
    cursor: pointer;
	}
.csm_toggle_show_hover {
	background: url('../images/button_show_details_hover.gif');
    background-repeat: no-repeat;
    cursor: pointer;
	}
.csm_toggle_hide_hover {
	background: url('../images/button_hide_details_hover.gif');
	background-repeat: no-repeat;
	cursor: pointer;
	}
	
/* Spanning Column Input Form
----------------------------------------------------------------------------------------------------*/
	
.csm_template_1 .csm_input_spanning_column .csm_input_required_field {
	background-image: url('../images/icon_required_field_small.gif');
	background-position: right 1px;
	background-repeat: no-repeat;
	}

.csm_template_1 .csm_input_required_field {
	background-image: url('../images/icon_required_field_small.gif');
	background-position: 4px 9px;
	background-repeat: no-repeat;
	}

/* Footer
----------------------------------------------------------------------------------------------------*/

.csm_template_1 .csm_footer {
	background: none;
	background-color: #851000;	
	}
		
.csm_template_1 .csm_footer div.csm_container_16 {
	background: none;
	}

.csm_template_1 .csm_footer .csm_footer_logo {
	background: url('../images/logo_aim_noDrop.gif') no-repeat bottom right;
	min-height: 210px;
	}
	
/* OOSPA Specific
----------------------------------------------------------------------------------------------------*/


.oospa_request_details {
	background: transparent url('../images/icon_reqdetails.gif') no-repeat;
    }
    
.oospa_request_status {
	background: transparent url('../images/icon_status.gif') no-repeat;
    }
    
.oospa_aim_builder {
	background: transparent url('../images/icon_accessteam.gif') no-repeat;
	}
	
.oospa_aim_comments {
	background: transparent url('../images/icon_accessteam.gif') no-repeat;
	}
	
.oospa_aim_acknowledgement {
	background: transparent url('../images/icon_accessteam.gif') no-repeat;
	}
	
.snap_my_approvals {
	background: transparent url('../images/icon_approver.gif') no-repeat;
	}
	
.oospa_delete_icon {
	background: transparent url('../images/icon_delete_small.gif') 0 2px no-repeat;
	}
	
.oospa_edit_icon {
	background: transparent url('../images/icon_edit_small.gif') 0 2px no-repeat;
	}
.oospa_edit_icon_disabled {
	background: transparent url('../images/icon_edit_small_disabled.gif') 0 2px no-repeat;
	}
/* Login Page
----------------------------------------------------------------------------------------------------*/

.csm_template_1 .aim_checkbox_checked {
	background-image: url('../images/icon_checkbox_checked.gif');
	background-repeat: no-repeat;
	background-position: 15px 0px;
	}
	
.csm_template_1 .aim_checkbox_unchecked {
	background-image: url('../images/icon_checkbox_unchecked.gif');
	background-repeat: no-repeat;
	background-position: 15px 0px;
	}
	
.messageBox {  
    background-image: url('../images/modal_small.gif');
	background-repeat: no-repeat;
}

/************** BEGIN SNAP_BRAND **************/

.csm_template_1 {
	background: none;
	}

.csm_template_1 .snap_brand_header {
	color: #fff;
	height: 94px;
	background: url('../images/slice_header_bg_IE6.jpg') top repeat-x;
	}
	
.csm_template_1 .snap_brand_header div.csm_container_16 {
	background: none;
	}

.csm_template_1 .logo_itservices {
	background: url('../images/logo_itservices.gif') no-repeat;
	background-position: 83px 2px;
	}

.csm_template_1 .logo_oospa {
	background: url('../images/logo_snap.gif')  no-repeat;
	background-position: 175px 14px;
	}
	
/* Default PAGE */

div#login_description_logo {
	background: url('../images/logo_aim_small.gif')  no-repeat;
	width: 110px;
	height: 110px;
	}
	
/* Support Page */

div#support_contact_logo {
	background: url('../images/logo_support_small.gif')  no-repeat;
	width: 87px;
	height: 88px;
	}
	
/* RIBBON */

span.aim_header_logout {
	float:right;
	margin-right:35px;
	margin-top:8px;
	font-size:10px;
	font-family: Verdana;
	color:#898989;
	/*letter-spacing:0px;*/
	}

a.aim_logout_link {color: #797979;}
a.aim_logout_link:hover {color: #ffffff;}

div#csm_ribbon_container_outer {
	height: 36px;
	/*width: 763px;*/
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	}
	
div#csm_ribbon_container_outer 
ul#csm_ribbon_container_inner {
	height: 36px; /*36*/
	width: auto;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: relative;
	}
	
div#csm_ribbon_container_outer 
ul#csm_ribbon_container_inner li {
	margin: 0;
	padding: 0;
	list-style: none;
	/*position: absolute;*/
	float: left;
	top: 0;
	}
	
ul#csm_ribbon_container_inner li
, ul#csm_ribbon_container_inner a {
	height: 36px;
	display: block;
	}	
	
div#csm_ribbon_container_outer 
ul#csm_ribbon_container_inner li a {
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	}
 
div#csm_ribbon_container_outer ul#csm_ribbon_container_inner li a.snap_approvals_text_two_digits
, div#csm_ribbon_container_outer ul#csm_ribbon_container_inner li a.snap_approvals_text_one_digit 
, div#csm_ribbon_container_outer ul#csm_ribbon_container_inner li a.snap_aim_text_two_digits 
, div#csm_ribbon_container_outer ul#csm_ribbon_container_inner li a.snap_aim_text_one_digit {
	overflow: hidden;
	text-indent: 0px;
	text-decoration: none;
	text-align: center;
	}

li a.snap_approvals_text_two_digits span
, li a.snap_approvals_text_one_digit span
, li a.snap_aim_text_two_digits span
, li a.snap_aim_text_one_digit span {
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #f5f5f5;
	position: relative;
	top: 11px;
	margin: 0;
	letter-spacing: 1px;
	}	
	
li a.snap_approvals_text_two_digits span {padding: 0 0 0 105px;}
li a.snap_approvals_text_one_digit span {padding: 0 0 0 105px;}
li a.snap_aim_text_two_digits span {padding: 0 0 0 101px;}
li a.snap_aim_text_one_digit span {padding: 0 0 0 99px;}
	
	
/* LINK BUTTON DEFAULT SIZE */

#default a {width: 47px;}	
#requestform a {width: 98px;}
#myrequests a {width: 90px;}
#myapprovals a {width: 134px;}
#accessteam a {width: 129px;}
#search a {width: 47px;}
#support a {width: 56px;}

#default a
, #requestform a
, #myrequests a
, #myapprovals a
, #accessteam a
, #search a
, #support a {
	background: url('../images/slider_heading_links.gif') no-repeat;
	padding: 0 17px 0 17px !important;}

#default a:hover {background-position: -1255px -100px;}
#requestform a:hover {background-position: -34px -100px;}
#myrequests a:hover {background-position: -239px -100px;}
#myapprovals a:hover {background-position: -416px -100px;}
#accessteam a:hover {background-position: -618px -100px;}
#search a:hover {background-position: -859px -100px;}
#support a:hover {background-position: -1055px -100px;}

/* YOU ARE HERE */

#default a {background-position: -1255px 0px;}
#requestform a {background-position: -34px 0px;}
#myrequests a {background-position: -239px 0px;}
#myapprovals a {background-position: -416px 0px;}
#accessteam a {background-position: -618px 0px;}
#search a {background-position: -859px 0px;}
#support a {background-position: -1055px 0px;}

div.default #default a {background-position: -1255px -50px;}
div.requestform #requestform a {background-position: -34px -50px;}
div.myrequests #myrequests a {background-position: -239px -50px;}
div.myapprovals #myapprovals a {background-position: -416px -50px;}
div.accessteam #accessteam a {background-position: -618px -50px;}
div.search #search a {background-position: -859px -50px;}
div.support #support a {background-position: -1055px -50px;}


/* ToolTip */

#tooltip{position:absolute;display:none;color:#fff;}

/************** END SNAP_BRAND **************/

/************** BEGIN ACCESS TEAM FILTER **************/

div#access_filter_outer {
	height: 37px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0;
	font-family: Helvetica;
	font-size: 12px;
	font-weight: normal;
	color: #f5f5f5;
	letter-spacing: 1px;
	background: url('../images/slice_access_filter_bg.jpg') repeat-x top;
	width: 700px;
	}

div#access_filter_outer 
ul#access_filter_inner {
	height: 37px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 660px;
	}
	
div#access_filter_outer 
ul#access_filter_inner li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	top: 0;
	}
	
ul#access_filter_inner li
, ul#access_filter_inner span {
	height: 37px;
	display: block;
	padding-top: 6px;
	margin-left: 0px;
	margin-right: 0px;
	}
	
ul#access_filter_inner li.disabled_text span {color:#D45766; cursor:default;}
	
ul#access_filter_inner span.inline_counter {
	display: inline;
	padding: 0;
	margin: 0;
	}

#filter_pending_acknowledgement
, #filter_pending_workflow
, #filter_pending_provisioning
, #filter_in_workflow
, #filter_view_all {
	cursor: pointer;
	margin-left: 7px !important;
	margin-right: 7px !important;
	}
	
#filter_pending_acknowledgement.active_carrot
, #filter_pending_workflow.active_carrot
, #filter_pending_provisioning.active_carrot
, #filter_in_workflow.active_carrot
, #filter_view_all.active_carrot {
	background: url('../images/icon_access_filter_active.gif') no-repeat;}

#filter_pending_acknowledgement.hover_carrot
, #filter_pending_workflow.hover_carrot
, #filter_pending_provisioning.hover_carrot
, #filter_in_workflow.hover_carrot
, #filter_view_all.hover_carrot {
	background: url('../images/icon_access_filter_hover.gif') no-repeat;}

	
/* YOU ARE HERE */

#filter_pending_acknowledgement {width:146px;background-position: 57px 60px;}
#filter_pending_workflow {width:88px;background-position: 34px 60px;}
#filter_pending_provisioning {width:110px;background-position: 40px 60px;}
#filter_in_workflow {width:104px;background-position: 40px 60px;}
#filter_view_all {width:50px;background-position: 29px 60px;}

div.filter_pending_acknowledgement #filter_pending_acknowledgement {background-position: 60px 30px;}
div.filter_pending_workflow #filter_pending_workflow {background-position: 37px 30px;}
div.filter_pending_provisioning #filter_pending_provisioning {background-position: 44px 30px;}
div.filter_in_workflow #filter_in_workflow {background-position: 41px 30px;}
div.filter_view_all #filter_view_all {background-position: 19px 30px;}

/************** END ACCESS TEAM FILTER **************/

.csm_template_1 .csm_footer .snap_copyright span {
	padding: 0;
	margin: 0;
	color:#696969 !important;
	font-family:Calibri,Trebuchet MS, Helvetica, sans-serif;
	font-size:12px;
	letter-spacing: 0px;
	line-height: 1.1em;
	}
	
.csm_template_1 .csm_footer .snap_copyright span a {
	color:#696969;
	font-size:1em;
	}
	
.csm_template_1 input.csm_text_input
, .csm_template_1 textarea.csm_text_input {
	margin: 0;
	padding: 0px;
	padding-left: 5px;
	font-size: .85em;
	border: 1px solid #b7b7b7;		
	line-height: 1.7em;
	height: 100px;
	font-family: Verdana, Arial;
	width: 98%;
	}	
	
#aim_IE6_nag {display:inline; visibility:visible;}	